<div class="homepage">
  <img src="{{ image | image_url }}" alt="WeeklyHow Logo" width="100" height="100" loading="lazy">
  <img 
    alt="{{ image.alt }}"
    src="{{ image | image_url }}"
    width="{{ image.width }}"
    height="{{ image.height }}"
    loading="lazy"
  >
  <h1>Welcome to Shopify Theme Development course!</h1>
  <p>{% render 'homepage-text' %}</p>
</div>